<!doctype>
<html>
  <head>
    {{!-- The head is set up as a partial.
          Edit that partial to load in styles, set meta tags, and give a title. --}}
    {{>_head}}
  </head>
  <body>
    {{!-- Body conent is loaded in this area of the template,
          these are the contents of each pages/*.hbs file --}}
    {{{body}}}
  </body>
</html>
